/*style.css Phillip Kersten s10880682*/

.overlay img {
  display: block;
  width: 200%;
  height: 200%;
  top:50%;
  z-index: 3;
  float:center;
}

h1#countryDisplay {
  position: relative;
  left: 5%;
}


div#text {
  position: absolute;
  float : left;
  bottom: 2%;
  left: 2%;
  z-index : -1;
  text-align: left;
  width: 50%;
  height: 40%;
  font: 18px garamond;
}

div#text p text {
  position: relative;
  height: 40%;
}

#frame {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.background {
  display: block;
}

path.linegraph, .country{ cursor: pointer; }

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

rect.lineOverlay {
  position: absolute;
  z-index: -2;
  fill: none;
  pointer-events: all;
}

path.linepath {
  position: absolute;
  z-index: 2;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  position: relative;
}

#valuesLine ul{
  position: absolute;
  left: 60%;
  font-size: 100%;
  bottom:40%;
  z-index: -2;
}

div.tooltip {
  position: absolute;
  text-align : left;
}

div.info, div.controls{
  display : inline-block;
  position: absolute;
}

h1#yearDisplay {
  position: absolute;
  width: 40%;
  left: 1%;
}

div.map {
  margin-right: 0;
  width: 200px;
}

svg.map {
  position: absolute;
  float : left;
  top: 5%;
  z-index : -1;
}

ul.lineList {
  position: absolute;
  left: 20%;
  bottom: 40%;
}

div.linegraph {
  position: absolute;
  right : 0;
  z-index : -1;
}

div#barchart {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index : -2;
  background-color: white;
}

.randomsvg {
  z-index: -3;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.barchart {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index : -2;
}

div.container {
  position:absolute;
  right: 0;
}

div.frame {
  position : relative;
}

div.overlay {
  position :absolute;
  z-index: 1;
}

#frame {
  z-index : -1;
}

#x {
  position: absolute;
  left: 0;
  top: 0;
  z-index : 2;
}

g.barchart {
  cursor: pointer;
}
