/*style.css Phillip Kersten s10880682*/

#frame {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.background {
  display: block;
}
div, form, fieldset {
  display: block ;
  margin: auto;
  text-align: center ;
}
path.linegraph, .country{ cursor: pointer; }

g.linelabes { cursor: pointer !important; }

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.link {
  text-align: center;
}
line.track-overlay {
  display : inline-block
  text-align: center;
}
div.subtitle {
  text-align: center;
  width: 960px;
  border: 1px solid black;
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  position: relative;
}

div.tooltip {
  position: absolute;
  text-align : left;
}


div.info, div.controls{
  display : inline-block;
}

div.map {
  float : left;
}

div.linegraph, #barchart {
  float : right;
}

div.container {
  float: left;
}
